<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.insuresmart.easypoidemo.mapper.BillMapperExt">
  <resultMap id="BaseResultMap" type="com.insuresmart.easypoidemo.model.Bill">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="file_id" jdbcType="INTEGER" property="fileId" />
    <result column="claim_id" jdbcType="INTEGER" property="claimId" />
    <result column="serial_no" jdbcType="VARCHAR" property="serialNo" />
    <result column="claim_serial_no" jdbcType="VARCHAR" property="claimSerialNo" />
    <result column="bill_no" jdbcType="VARCHAR" property="billNo" />
    <result column="bill_type" jdbcType="INTEGER" property="billType" />
    <result column="mergency_type" jdbcType="VARCHAR" property="mergencyType" />
    <result column="health_type" jdbcType="VARCHAR" property="healthType" />
    <result column="vip_type" jdbcType="VARCHAR" property="vipType" />
    <result column="treatment_date" jdbcType="DATE" property="treatmentDate" />
    <result column="in_hospital_date" jdbcType="DATE" property="inHospitalDate" />
    <result column="out_hospital_date" jdbcType="DATE" property="outHospitalDate" />
    <result column="hospital_code" jdbcType="VARCHAR" property="hospitalCode" />
    <result column="hospital_name" jdbcType="VARCHAR" property="hospitalName" />
    <result column="hospital_dept" jdbcType="INTEGER" property="hospitalDept" />
    <result column="hospital_dept_name" jdbcType="VARCHAR" property="hospitalDeptName" />
    <result column="match_hospital_code" jdbcType="VARCHAR" property="matchHospitalCode" />
    <result column="match_hospital_name" jdbcType="VARCHAR" property="matchHospitalName" />
    <result column="match_hospital_status" jdbcType="INTEGER" property="matchHospitalStatus" />
    <result column="diagnose_code" jdbcType="VARCHAR" property="diagnoseCode" />
    <result column="diagnose_name" jdbcType="VARCHAR" property="diagnoseName" />
    <result column="match_diagnose_code" jdbcType="VARCHAR" property="matchDiagnoseCode" />
    <result column="match_diagnose_name" jdbcType="VARCHAR" property="matchDiagnoseName" />
    <result column="match_diagnose_status" jdbcType="INTEGER" property="matchDiagnoseStatus" />
    <result column="bill_amount" jdbcType="DECIMAL" property="billAmount" />
    <result column="bill_status" jdbcType="INTEGER" property="billStatus" />
    <result column="social_pay_amount" jdbcType="DECIMAL" property="socialPayAmount" />
    <result column="class_pay_amount" jdbcType="DECIMAL" property="classPayAmount" />
    <result column="own_pay_amount" jdbcType="DECIMAL" property="ownPayAmount" />
    <result column="third_party_pay_amount" jdbcType="DECIMAL" property="thirdPartyPayAmount" />
    <result column="is_third_party_pay" jdbcType="VARCHAR" property="isThirdPartyPay" />
    <result column="fund_pay_amount" jdbcType="DECIMAL" property="fundPayAmount" />
    <result column="large_fund_hos_pay_amount" jdbcType="DECIMAL" property="largeFundHosPayAmount" />
    <result column="fund_year_total_pay_amount" jdbcType="DECIMAL" property="fundYearTotalPayAmount" />
    <result column="large_fund_out_curr_pay_amount" jdbcType="DECIMAL" property="largeFundOutCurrPayAmount" />
    <result column="large_fund_out_year_pay_amount" jdbcType="DECIMAL" property="largeFundOutYearPayAmount" />
    <result column="bill_user_name" jdbcType="VARCHAR" property="billUserName" />
    <result column="image_file_no" jdbcType="VARCHAR" property="imageFileNo" />
    <result column="image_file_id" jdbcType="INTEGER" property="imageFileId" />
    <result column="reason_notes" jdbcType="VARCHAR" property="reasonNotes" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="delete_flag" jdbcType="VARCHAR" property="deleteFlag" />
    <result column="create_operator" jdbcType="INTEGER" property="createOperator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_operator" jdbcType="INTEGER" property="updateOperator" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, file_id, claim_id, serial_no, claim_serial_no, bill_no, bill_type, mergency_type, 
    health_type, vip_type, treatment_date, in_hospital_date, out_hospital_date, hospital_code, 
    hospital_name, hospital_dept, hospital_dept_name, match_hospital_code, match_hospital_name, 
    match_hospital_status, diagnose_code, diagnose_name, match_diagnose_code, match_diagnose_name, 
    match_diagnose_status, bill_amount, bill_status, social_pay_amount, class_pay_amount, 
    own_pay_amount, third_party_pay_amount, is_third_party_pay, fund_pay_amount, large_fund_hos_pay_amount, 
    fund_year_total_pay_amount, large_fund_out_curr_pay_amount, large_fund_out_year_pay_amount, 
    bill_user_name, image_file_no, image_file_id, reason_notes, remark, delete_flag, 
    create_operator, create_time, update_operator, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bill
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from bill
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.insuresmart.easypoidemo.model.Bill">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into bill (file_id, claim_id, serial_no, 
      claim_serial_no, bill_no, bill_type, 
      mergency_type, health_type, vip_type, 
      treatment_date, in_hospital_date, out_hospital_date, 
      hospital_code, hospital_name, hospital_dept, 
      hospital_dept_name, match_hospital_code, match_hospital_name, 
      match_hospital_status, diagnose_code, diagnose_name, 
      match_diagnose_code, match_diagnose_name, match_diagnose_status, 
      bill_amount, bill_status, social_pay_amount, 
      class_pay_amount, own_pay_amount, third_party_pay_amount, 
      is_third_party_pay, fund_pay_amount, large_fund_hos_pay_amount, 
      fund_year_total_pay_amount, large_fund_out_curr_pay_amount, 
      large_fund_out_year_pay_amount, bill_user_name, 
      image_file_no, image_file_id, reason_notes, 
      remark, delete_flag, create_operator, 
      create_time, update_operator, update_time
      )
    values (#{fileId,jdbcType=INTEGER}, #{claimId,jdbcType=INTEGER}, #{serialNo,jdbcType=VARCHAR}, 
      #{claimSerialNo,jdbcType=VARCHAR}, #{billNo,jdbcType=VARCHAR}, #{billType,jdbcType=INTEGER}, 
      #{mergencyType,jdbcType=VARCHAR}, #{healthType,jdbcType=VARCHAR}, #{vipType,jdbcType=VARCHAR}, 
      #{treatmentDate,jdbcType=DATE}, #{inHospitalDate,jdbcType=DATE}, #{outHospitalDate,jdbcType=DATE}, 
      #{hospitalCode,jdbcType=VARCHAR}, #{hospitalName,jdbcType=VARCHAR}, #{hospitalDept,jdbcType=INTEGER}, 
      #{hospitalDeptName,jdbcType=VARCHAR}, #{matchHospitalCode,jdbcType=VARCHAR}, #{matchHospitalName,jdbcType=VARCHAR}, 
      #{matchHospitalStatus,jdbcType=INTEGER}, #{diagnoseCode,jdbcType=VARCHAR}, #{diagnoseName,jdbcType=VARCHAR}, 
      #{matchDiagnoseCode,jdbcType=VARCHAR}, #{matchDiagnoseName,jdbcType=VARCHAR}, #{matchDiagnoseStatus,jdbcType=INTEGER}, 
      #{billAmount,jdbcType=DECIMAL}, #{billStatus,jdbcType=INTEGER}, #{socialPayAmount,jdbcType=DECIMAL}, 
      #{classPayAmount,jdbcType=DECIMAL}, #{ownPayAmount,jdbcType=DECIMAL}, #{thirdPartyPayAmount,jdbcType=DECIMAL}, 
      #{isThirdPartyPay,jdbcType=VARCHAR}, #{fundPayAmount,jdbcType=DECIMAL}, #{largeFundHosPayAmount,jdbcType=DECIMAL}, 
      #{fundYearTotalPayAmount,jdbcType=DECIMAL}, #{largeFundOutCurrPayAmount,jdbcType=DECIMAL}, 
      #{largeFundOutYearPayAmount,jdbcType=DECIMAL}, #{billUserName,jdbcType=VARCHAR}, 
      #{imageFileNo,jdbcType=VARCHAR}, #{imageFileId,jdbcType=INTEGER}, #{reasonNotes,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{deleteFlag,jdbcType=VARCHAR}, #{createOperator,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateOperator,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.insuresmart.easypoidemo.model.Bill">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into bill
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fileId != null">
        file_id,
      </if>
      <if test="claimId != null">
        claim_id,
      </if>
      <if test="serialNo != null">
        serial_no,
      </if>
      <if test="claimSerialNo != null">
        claim_serial_no,
      </if>
      <if test="billNo != null">
        bill_no,
      </if>
      <if test="billType != null">
        bill_type,
      </if>
      <if test="mergencyType != null">
        mergency_type,
      </if>
      <if test="healthType != null">
        health_type,
      </if>
      <if test="vipType != null">
        vip_type,
      </if>
      <if test="treatmentDate != null">
        treatment_date,
      </if>
      <if test="inHospitalDate != null">
        in_hospital_date,
      </if>
      <if test="outHospitalDate != null">
        out_hospital_date,
      </if>
      <if test="hospitalCode != null">
        hospital_code,
      </if>
      <if test="hospitalName != null">
        hospital_name,
      </if>
      <if test="hospitalDept != null">
        hospital_dept,
      </if>
      <if test="hospitalDeptName != null">
        hospital_dept_name,
      </if>
      <if test="matchHospitalCode != null">
        match_hospital_code,
      </if>
      <if test="matchHospitalName != null">
        match_hospital_name,
      </if>
      <if test="matchHospitalStatus != null">
        match_hospital_status,
      </if>
      <if test="diagnoseCode != null">
        diagnose_code,
      </if>
      <if test="diagnoseName != null">
        diagnose_name,
      </if>
      <if test="matchDiagnoseCode != null">
        match_diagnose_code,
      </if>
      <if test="matchDiagnoseName != null">
        match_diagnose_name,
      </if>
      <if test="matchDiagnoseStatus != null">
        match_diagnose_status,
      </if>
      <if test="billAmount != null">
        bill_amount,
      </if>
      <if test="billStatus != null">
        bill_status,
      </if>
      <if test="socialPayAmount != null">
        social_pay_amount,
      </if>
      <if test="classPayAmount != null">
        class_pay_amount,
      </if>
      <if test="ownPayAmount != null">
        own_pay_amount,
      </if>
      <if test="thirdPartyPayAmount != null">
        third_party_pay_amount,
      </if>
      <if test="isThirdPartyPay != null">
        is_third_party_pay,
      </if>
      <if test="fundPayAmount != null">
        fund_pay_amount,
      </if>
      <if test="largeFundHosPayAmount != null">
        large_fund_hos_pay_amount,
      </if>
      <if test="fundYearTotalPayAmount != null">
        fund_year_total_pay_amount,
      </if>
      <if test="largeFundOutCurrPayAmount != null">
        large_fund_out_curr_pay_amount,
      </if>
      <if test="largeFundOutYearPayAmount != null">
        large_fund_out_year_pay_amount,
      </if>
      <if test="billUserName != null">
        bill_user_name,
      </if>
      <if test="imageFileNo != null">
        image_file_no,
      </if>
      <if test="imageFileId != null">
        image_file_id,
      </if>
      <if test="reasonNotes != null">
        reason_notes,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="deleteFlag != null">
        delete_flag,
      </if>
      <if test="createOperator != null">
        create_operator,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateOperator != null">
        update_operator,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fileId != null">
        #{fileId,jdbcType=INTEGER},
      </if>
      <if test="claimId != null">
        #{claimId,jdbcType=INTEGER},
      </if>
      <if test="serialNo != null">
        #{serialNo,jdbcType=VARCHAR},
      </if>
      <if test="claimSerialNo != null">
        #{claimSerialNo,jdbcType=VARCHAR},
      </if>
      <if test="billNo != null">
        #{billNo,jdbcType=VARCHAR},
      </if>
      <if test="billType != null">
        #{billType,jdbcType=INTEGER},
      </if>
      <if test="mergencyType != null">
        #{mergencyType,jdbcType=VARCHAR},
      </if>
      <if test="healthType != null">
        #{healthType,jdbcType=VARCHAR},
      </if>
      <if test="vipType != null">
        #{vipType,jdbcType=VARCHAR},
      </if>
      <if test="treatmentDate != null">
        #{treatmentDate,jdbcType=DATE},
      </if>
      <if test="inHospitalDate != null">
        #{inHospitalDate,jdbcType=DATE},
      </if>
      <if test="outHospitalDate != null">
        #{outHospitalDate,jdbcType=DATE},
      </if>
      <if test="hospitalCode != null">
        #{hospitalCode,jdbcType=VARCHAR},
      </if>
      <if test="hospitalName != null">
        #{hospitalName,jdbcType=VARCHAR},
      </if>
      <if test="hospitalDept != null">
        #{hospitalDept,jdbcType=INTEGER},
      </if>
      <if test="hospitalDeptName != null">
        #{hospitalDeptName,jdbcType=VARCHAR},
      </if>
      <if test="matchHospitalCode != null">
        #{matchHospitalCode,jdbcType=VARCHAR},
      </if>
      <if test="matchHospitalName != null">
        #{matchHospitalName,jdbcType=VARCHAR},
      </if>
      <if test="matchHospitalStatus != null">
        #{matchHospitalStatus,jdbcType=INTEGER},
      </if>
      <if test="diagnoseCode != null">
        #{diagnoseCode,jdbcType=VARCHAR},
      </if>
      <if test="diagnoseName != null">
        #{diagnoseName,jdbcType=VARCHAR},
      </if>
      <if test="matchDiagnoseCode != null">
        #{matchDiagnoseCode,jdbcType=VARCHAR},
      </if>
      <if test="matchDiagnoseName != null">
        #{matchDiagnoseName,jdbcType=VARCHAR},
      </if>
      <if test="matchDiagnoseStatus != null">
        #{matchDiagnoseStatus,jdbcType=INTEGER},
      </if>
      <if test="billAmount != null">
        #{billAmount,jdbcType=DECIMAL},
      </if>
      <if test="billStatus != null">
        #{billStatus,jdbcType=INTEGER},
      </if>
      <if test="socialPayAmount != null">
        #{socialPayAmount,jdbcType=DECIMAL},
      </if>
      <if test="classPayAmount != null">
        #{classPayAmount,jdbcType=DECIMAL},
      </if>
      <if test="ownPayAmount != null">
        #{ownPayAmount,jdbcType=DECIMAL},
      </if>
      <if test="thirdPartyPayAmount != null">
        #{thirdPartyPayAmount,jdbcType=DECIMAL},
      </if>
      <if test="isThirdPartyPay != null">
        #{isThirdPartyPay,jdbcType=VARCHAR},
      </if>
      <if test="fundPayAmount != null">
        #{fundPayAmount,jdbcType=DECIMAL},
      </if>
      <if test="largeFundHosPayAmount != null">
        #{largeFundHosPayAmount,jdbcType=DECIMAL},
      </if>
      <if test="fundYearTotalPayAmount != null">
        #{fundYearTotalPayAmount,jdbcType=DECIMAL},
      </if>
      <if test="largeFundOutCurrPayAmount != null">
        #{largeFundOutCurrPayAmount,jdbcType=DECIMAL},
      </if>
      <if test="largeFundOutYearPayAmount != null">
        #{largeFundOutYearPayAmount,jdbcType=DECIMAL},
      </if>
      <if test="billUserName != null">
        #{billUserName,jdbcType=VARCHAR},
      </if>
      <if test="imageFileNo != null">
        #{imageFileNo,jdbcType=VARCHAR},
      </if>
      <if test="imageFileId != null">
        #{imageFileId,jdbcType=INTEGER},
      </if>
      <if test="reasonNotes != null">
        #{reasonNotes,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=VARCHAR},
      </if>
      <if test="createOperator != null">
        #{createOperator,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateOperator != null">
        #{updateOperator,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.insuresmart.easypoidemo.model.Bill">
    update bill
    <set>
      <if test="fileId != null">
        file_id = #{fileId,jdbcType=INTEGER},
      </if>
      <if test="claimId != null">
        claim_id = #{claimId,jdbcType=INTEGER},
      </if>
      <if test="serialNo != null">
        serial_no = #{serialNo,jdbcType=VARCHAR},
      </if>
      <if test="claimSerialNo != null">
        claim_serial_no = #{claimSerialNo,jdbcType=VARCHAR},
      </if>
      <if test="billNo != null">
        bill_no = #{billNo,jdbcType=VARCHAR},
      </if>
      <if test="billType != null">
        bill_type = #{billType,jdbcType=INTEGER},
      </if>
      <if test="mergencyType != null">
        mergency_type = #{mergencyType,jdbcType=VARCHAR},
      </if>
      <if test="healthType != null">
        health_type = #{healthType,jdbcType=VARCHAR},
      </if>
      <if test="vipType != null">
        vip_type = #{vipType,jdbcType=VARCHAR},
      </if>
      <if test="treatmentDate != null">
        treatment_date = #{treatmentDate,jdbcType=DATE},
      </if>
      <if test="inHospitalDate != null">
        in_hospital_date = #{inHospitalDate,jdbcType=DATE},
      </if>
      <if test="outHospitalDate != null">
        out_hospital_date = #{outHospitalDate,jdbcType=DATE},
      </if>
      <if test="hospitalCode != null">
        hospital_code = #{hospitalCode,jdbcType=VARCHAR},
      </if>
      <if test="hospitalName != null">
        hospital_name = #{hospitalName,jdbcType=VARCHAR},
      </if>
      <if test="hospitalDept != null">
        hospital_dept = #{hospitalDept,jdbcType=INTEGER},
      </if>
      <if test="hospitalDeptName != null">
        hospital_dept_name = #{hospitalDeptName,jdbcType=VARCHAR},
      </if>
      <if test="matchHospitalCode != null">
        match_hospital_code = #{matchHospitalCode,jdbcType=VARCHAR},
      </if>
      <if test="matchHospitalName != null">
        match_hospital_name = #{matchHospitalName,jdbcType=VARCHAR},
      </if>
      <if test="matchHospitalStatus != null">
        match_hospital_status = #{matchHospitalStatus,jdbcType=INTEGER},
      </if>
      <if test="diagnoseCode != null">
        diagnose_code = #{diagnoseCode,jdbcType=VARCHAR},
      </if>
      <if test="diagnoseName != null">
        diagnose_name = #{diagnoseName,jdbcType=VARCHAR},
      </if>
      <if test="matchDiagnoseCode != null">
        match_diagnose_code = #{matchDiagnoseCode,jdbcType=VARCHAR},
      </if>
      <if test="matchDiagnoseName != null">
        match_diagnose_name = #{matchDiagnoseName,jdbcType=VARCHAR},
      </if>
      <if test="matchDiagnoseStatus != null">
        match_diagnose_status = #{matchDiagnoseStatus,jdbcType=INTEGER},
      </if>
      <if test="billAmount != null">
        bill_amount = #{billAmount,jdbcType=DECIMAL},
      </if>
      <if test="billStatus != null">
        bill_status = #{billStatus,jdbcType=INTEGER},
      </if>
      <if test="socialPayAmount != null">
        social_pay_amount = #{socialPayAmount,jdbcType=DECIMAL},
      </if>
      <if test="classPayAmount != null">
        class_pay_amount = #{classPayAmount,jdbcType=DECIMAL},
      </if>
      <if test="ownPayAmount != null">
        own_pay_amount = #{ownPayAmount,jdbcType=DECIMAL},
      </if>
      <if test="thirdPartyPayAmount != null">
        third_party_pay_amount = #{thirdPartyPayAmount,jdbcType=DECIMAL},
      </if>
      <if test="isThirdPartyPay != null">
        is_third_party_pay = #{isThirdPartyPay,jdbcType=VARCHAR},
      </if>
      <if test="fundPayAmount != null">
        fund_pay_amount = #{fundPayAmount,jdbcType=DECIMAL},
      </if>
      <if test="largeFundHosPayAmount != null">
        large_fund_hos_pay_amount = #{largeFundHosPayAmount,jdbcType=DECIMAL},
      </if>
      <if test="fundYearTotalPayAmount != null">
        fund_year_total_pay_amount = #{fundYearTotalPayAmount,jdbcType=DECIMAL},
      </if>
      <if test="largeFundOutCurrPayAmount != null">
        large_fund_out_curr_pay_amount = #{largeFundOutCurrPayAmount,jdbcType=DECIMAL},
      </if>
      <if test="largeFundOutYearPayAmount != null">
        large_fund_out_year_pay_amount = #{largeFundOutYearPayAmount,jdbcType=DECIMAL},
      </if>
      <if test="billUserName != null">
        bill_user_name = #{billUserName,jdbcType=VARCHAR},
      </if>
      <if test="imageFileNo != null">
        image_file_no = #{imageFileNo,jdbcType=VARCHAR},
      </if>
      <if test="imageFileId != null">
        image_file_id = #{imageFileId,jdbcType=INTEGER},
      </if>
      <if test="reasonNotes != null">
        reason_notes = #{reasonNotes,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null">
        delete_flag = #{deleteFlag,jdbcType=VARCHAR},
      </if>
      <if test="createOperator != null">
        create_operator = #{createOperator,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateOperator != null">
        update_operator = #{updateOperator,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.insuresmart.easypoidemo.model.Bill">
    update bill
    set file_id = #{fileId,jdbcType=INTEGER},
      claim_id = #{claimId,jdbcType=INTEGER},
      serial_no = #{serialNo,jdbcType=VARCHAR},
      claim_serial_no = #{claimSerialNo,jdbcType=VARCHAR},
      bill_no = #{billNo,jdbcType=VARCHAR},
      bill_type = #{billType,jdbcType=INTEGER},
      mergency_type = #{mergencyType,jdbcType=VARCHAR},
      health_type = #{healthType,jdbcType=VARCHAR},
      vip_type = #{vipType,jdbcType=VARCHAR},
      treatment_date = #{treatmentDate,jdbcType=DATE},
      in_hospital_date = #{inHospitalDate,jdbcType=DATE},
      out_hospital_date = #{outHospitalDate,jdbcType=DATE},
      hospital_code = #{hospitalCode,jdbcType=VARCHAR},
      hospital_name = #{hospitalName,jdbcType=VARCHAR},
      hospital_dept = #{hospitalDept,jdbcType=INTEGER},
      hospital_dept_name = #{hospitalDeptName,jdbcType=VARCHAR},
      match_hospital_code = #{matchHospitalCode,jdbcType=VARCHAR},
      match_hospital_name = #{matchHospitalName,jdbcType=VARCHAR},
      match_hospital_status = #{matchHospitalStatus,jdbcType=INTEGER},
      diagnose_code = #{diagnoseCode,jdbcType=VARCHAR},
      diagnose_name = #{diagnoseName,jdbcType=VARCHAR},
      match_diagnose_code = #{matchDiagnoseCode,jdbcType=VARCHAR},
      match_diagnose_name = #{matchDiagnoseName,jdbcType=VARCHAR},
      match_diagnose_status = #{matchDiagnoseStatus,jdbcType=INTEGER},
      bill_amount = #{billAmount,jdbcType=DECIMAL},
      bill_status = #{billStatus,jdbcType=INTEGER},
      social_pay_amount = #{socialPayAmount,jdbcType=DECIMAL},
      class_pay_amount = #{classPayAmount,jdbcType=DECIMAL},
      own_pay_amount = #{ownPayAmount,jdbcType=DECIMAL},
      third_party_pay_amount = #{thirdPartyPayAmount,jdbcType=DECIMAL},
      is_third_party_pay = #{isThirdPartyPay,jdbcType=VARCHAR},
      fund_pay_amount = #{fundPayAmount,jdbcType=DECIMAL},
      large_fund_hos_pay_amount = #{largeFundHosPayAmount,jdbcType=DECIMAL},
      fund_year_total_pay_amount = #{fundYearTotalPayAmount,jdbcType=DECIMAL},
      large_fund_out_curr_pay_amount = #{largeFundOutCurrPayAmount,jdbcType=DECIMAL},
      large_fund_out_year_pay_amount = #{largeFundOutYearPayAmount,jdbcType=DECIMAL},
      bill_user_name = #{billUserName,jdbcType=VARCHAR},
      image_file_no = #{imageFileNo,jdbcType=VARCHAR},
      image_file_id = #{imageFileId,jdbcType=INTEGER},
      reason_notes = #{reasonNotes,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      delete_flag = #{deleteFlag,jdbcType=VARCHAR},
      create_operator = #{createOperator,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_operator = #{updateOperator,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>